.text_header {
	font-size: 22px;
	display: block;
	font-weight: bold;
	font-family: Droid Sans Fallback;
}

.text_subHeader {
	color: rgb(34, 191, 242);
	font-size: 18px;
	font-family: Droid Sans Fallback;
}

.text_mainBody {
	font-size: 18px;
	color: rgb(62, 62, 62);
	font-family: Droid Sans Fallback;
}

.text_highlight {
	font-size: 18px;
	color: rgb(206, 161, 75);
	font-family: Droid Sans Fallback;
}

.text_guide {
	font-size: 18px;
	color: rgb(148, 140, 140);
	font-family: Droid Sans Fallback;
}