<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="dialect"><!--指定数据库使用的方言 -->
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="connection.url"><!--指定连接数据库的URL地址 -->
			jdbc:mysql://w.rdc.sae.sina.com.cn:3307/app_sonyfifa
		</property>
		<property name="connection.username">nzkkkjwlm0</property><!--指定连接数据库的用户名 -->
		<property name="connection.password">3314wkhwj35i2w3yhxm54yxw5kxwlmlk3xj5x1mx</property><!--指定连接数据库的密码 -->

		<property name="connection.driver_class"><!--指定连接数据库用的驱动 -->
			com.mysql.jdbc.Driver
		</property>
		<mapping resource="com/sonymobile/sonysales/model/User.hbm.xml" /><!--指定持久化类映射文件 -->
        <mapping resource="com/sonymobile/sonysales/model/Popularity.hbm.xml" /><!--指定持久化类映射文件 -->

	</session-factory>

</hibernate-configuration>