<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sonymobile.china.voicecontrol"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.iflytek.speechclient.MainService">
        </service>
        <service
            android:name="com.sonymobile.smartwear.swr30.ExtensionService"
            android:exported="true"
            android:permission="com.sonymobile.smartwear.swr30.PERMISSION_HOSTAPP">

            <!-- Intent filter used to find service to bind to. -->
            <intent-filter>
                <action android:name="com.sonymobile.smartwear.swr30.BIND" />
            </intent-filter>

            <meta-data android:name="com.sonymobile.smartwear.swr30.configuration" android:resource="@xml/swr30_specific_config"/>
        </service>
    </application>
    
    
    <uses-permission android:name="com.sonymobile.smartwear.swr30.PERMISSION_CONTROL_EXTENSION" />
    
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

</manifest>
