<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
    <display-name>sonysales</display-name>

  <servlet>
    <servlet-name>getUserInfo</servlet-name>
    <servlet-class>com.sonymobile.sonysales.servlet.MyFIFAServlet.GetUserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getPointsOrder</servlet-name>
    <servlet-class>com.sonymobile.sonysales.servlet.MyFIFAServlet.GetPointsOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getSupporters</servlet-name>
    <servlet-class>com.sonymobile.sonysales.servlet.MyFIFAServlet.GetSupporters</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateUser</servlet-name>
    <servlet-class>com.sonymobile.sonysales.servlet.MyFIFAServlet.UpdateUser</servlet-class>
  </servlet>
    
  <servlet>
    <servlet-name>getNameList</servlet-name>
    <servlet-class>com.sonymobile.sonysales.servlet.NameListServlet.GetNameList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getNameListOfHandle</servlet-name>
    <servlet-class>com.sonymobile.sonysales.servlet.NameListServlet.GetNameListOfHandle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getNameListOfPopularity</servlet-name>
    <servlet-class>com.sonymobile.sonysales.servlet.NameListServlet.GetNameListOfPopularity</servlet-class>
  </servlet>
  
    <servlet>
        <servlet-name>OAuthServlet</servlet-name>
        <servlet-class>com.sonymobile.sonysales.servlet.userServlet.OAuthServlet</servlet-class>
    </servlet>
    

  <servlet-mapping>
    <servlet-name>getUserInfo</servlet-name>
    <url-pattern>/getUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getPointsOrder</servlet-name>
    <url-pattern>/getPointsOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getSupporters</servlet-name>
    <url-pattern>/getSupporters</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateUser</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>getNameList</servlet-name>
    <url-pattern>/getNameList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getNameListOfHandle</servlet-name>
    <url-pattern>/getNameListOfHandle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getNameListOfPopularity</servlet-name>
    <url-pattern>/getNameListOfPopularity</url-pattern>
  </servlet-mapping>

    <servlet>
      <description></description>
      <display-name></display-name>
      <servlet-name>Activity</servlet-name>
      <servlet-class>com.sonymobile.sonysales.servlet.LaPopularityServlet.Activity</servlet-class>
    </servlet>
    <servlet>
      <description></description>
      <display-name></display-name>
      <servlet-name>Relation</servlet-name>
      <servlet-class>com.sonymobile.sonysales.servlet.LaPopularityServlet.Relation</servlet-class>
    </servlet>
    <servlet>
      <description></description>
      <display-name></display-name>
      <servlet-name>Share</servlet-name>
      <servlet-class>com.sonymobile.sonysales.servlet.LaPopularityServlet.Share</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>OAuthServlet</servlet-name>
        <url-pattern>/wechat_authorize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Activity</servlet-name>
      <url-pattern>/activitypage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Relation</servlet-name>
      <url-pattern>/relationpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Share</servlet-name>
      <url-pattern>/sharepage</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
      <description></description>
      <display-name></display-name>
      <servlet-name>LashouActivity</servlet-name>
      <servlet-class>com.sonymobile.sonysales.servlet.LashouBuy.LashouActivity</servlet-class>
    </servlet>
    <servlet>
      <description></description>
      <display-name></display-name>
      <servlet-name>LashouRelation</servlet-name>
      <servlet-class>com.sonymobile.sonysales.servlet.LashouBuy.LashouRelation</servlet-class>
    </servlet>
    <servlet>
      <description></description>
      <display-name></display-name>
      <servlet-name>LashouFollow</servlet-name>
      <servlet-class>com.sonymobile.sonysales.servlet.LashouBuy.LashouFollow</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
      <servlet-name>LashouActivity</servlet-name>
      <url-pattern>/lashouactivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>LashouRelation</servlet-name>
      <url-pattern>/lashourelation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>LashouFollow</servlet-name>
      <url-pattern>/lashoufollow</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    
    
       <servlet>
              <description>add a user</description>
              <display-name>add a user</display-name>
              <servlet-name>addUser</servlet-name>
              <servlet-class>com.sonymobile.sonysales.servlet.userServlet.AddUser</servlet-class>
       </servlet>
       <servlet-mapping>
              <servlet-name>addUser</servlet-name>
              <url-pattern>/addUser</url-pattern>
       </servlet-mapping>
       <servlet>
              <description>get a user</description>
              <display-name>get a user</display-name>
              <servlet-name>getUser</servlet-name>
              <servlet-class>com.sonymobile.sonysales.servlet.userServlet.GetUser</servlet-class>
       </servlet>
       <servlet-mapping>
              <servlet-name>getUser</servlet-name>
              <url-pattern>/getUser</url-pattern>
       </servlet-mapping>
       <servlet>
              <description>Update a user</description>
              <display-name>Update a user</display-name>
              <servlet-name>updateUserInfo</servlet-name>
              <servlet-class>com.sonymobile.sonysales.servlet.userServlet.UpdateUserInfo</servlet-class>
       </servlet>
       <servlet-mapping>
              <servlet-name>updateUserInfo</servlet-name>
              <url-pattern>/updateUserInfo</url-pattern>
       </servlet-mapping>
       <servlet>
              <description>Get my user Info</description>
              <display-name>Get my user Info</display-name>
              <servlet-name>ShowUserInfoServlet</servlet-name>
              <servlet-class>com.sonymobile.sonysales.servlet.userServlet.ShowUserInfoServlet</servlet-class>
       </servlet>
       <servlet-mapping>
              <servlet-name>ShowUserInfoServlet</servlet-name>
              <url-pattern>/myInfo</url-pattern>
       </servlet-mapping>       
       <servlet>
              <description></description>
              <display-name>AddPopularity</display-name>
              <servlet-name>AddPopularity</servlet-name>
              <servlet-class>com.sonymobile.sonysales.servlet.popularityServlet.AddPopularity</servlet-class>
       </servlet>
       <servlet-mapping>
              <servlet-name>AddPopularity</servlet-name>
              <url-pattern>/addPopularity</url-pattern>
       </servlet-mapping>
       <servlet>
              <description></description>
              <display-name>GetProduct</display-name>
              <servlet-name>GetProduct</servlet-name>
              <servlet-class>com.sonymobile.sonysales.servlet.ProductServlet.GetProduct</servlet-class>
       </servlet>
       <servlet-mapping>
              <servlet-name>GetProduct</servlet-name>
              <url-pattern>/getProduct</url-pattern>
       </servlet-mapping>
    
       <servlet>
              <description></description>
              <display-name>AddHandle</display-name>
              <servlet-name>AddHandle</servlet-name>
              <servlet-class>com.sonymobile.sonysales.servlet.handleServlet.AddHandle</servlet-class>
       </servlet>
       <servlet-mapping>
              <servlet-name>AddHandle</servlet-name>
              <url-pattern>/addHandle</url-pattern>
       </servlet-mapping>
    
       <servlet>
              <description></description>
              <display-name>GetPictextListServlet</display-name>
              <servlet-name>GetPictextListServlet</servlet-name>
              <servlet-class>com.sonymobile.sonysales.servlet.api.GetPictextListServlet</servlet-class>
       </servlet>
       <servlet-mapping>
              <servlet-name>GetPictextListServlet</servlet-name>
              <url-pattern>/getSonySalesNews</url-pattern>
       </servlet-mapping>
       <servlet>
              <description></description>
              <display-name>HeaderServlet</display-name>
              <servlet-name>HeaderServlet</servlet-name>
              <servlet-class>com.sonymobile.sonysales.servlet.api.HeaderServlet</servlet-class>
       </servlet>
       <servlet-mapping>
              <servlet-name>HeaderServlet</servlet-name>
              <url-pattern>/head</url-pattern>
       </servlet-mapping>
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>com.sonymobile.sonysales.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
